[*.{kt,kts}]
ij_kotlin_packages_to_use_import_on_demand = ""

# true (recommended) / false
insert_final_newline=true
# identation size
indent_size=4
# trailing commas
ij_kotlin_allow_trailing_comma=true
ij_kotlin_allow_trailing_comma_on_call_site=true

ktlint_standard_multiline-if-else = disabled

ktlint_function_naming_ignore_when_annotated_with=Composable
